.send-button {
    background-color: rgb(25, 135, 84);
    color: white;
    border-radius: 10px;
    padding: 12px 20px;
    border: none;
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
}

.chat-input {
    border-radius: 10px;
    padding: 12px 15px;
    font-size: 15px;
    border-width: 1px;
    flex-grow: 1;
}

.input-container {
    display: flex;
}